.header{
    width: 100%;
    display: flex;
  }
  .menu{
    width: calc(100% - 200px)
  }
  .authLayout{
    width: 200px;
    display: flex;
    justify-content: flex-end;
  }
  .loginBtn{
    width: 60px;
    color: white;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
  }
  .userName{
  
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 10px;
    text-align: center;
  }
  .logoutBtn{
    width: 60px;
    color: white;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
  }